<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>{{post.title}}</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="width: 500px; height: auto; margin: 10px" class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}</p>
          <p class="card-text"><small class="text-body-secondary">{{post.creation_date}}</small></p>
        </div>
      </div>
      <div>
        <a href="/main" class="btn btn-danger">Back</a>
      </div>
</body>
</html>